.container {
    display: grid;
    grid-template-columns: 543px 101px 101px 70px;
    grid-template-rows: 56px 90px 90px 90px;
    gap: 10px;
    width: 900px;
    height: 415px;
    padding: 38px 35px 19px;
    background-color: azure;
}

.video-principal {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: #C4C4C4;
}

.propaganda {
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.titulo-e-descricao {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}



.video1 {
    background-color: #C4C4C4;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.video2 {
    background-color: #C4C4C4;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.video3 {
    background-color: #C4C4C4;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.titulo-e-descricao-sugerido1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.titulo-e-descricao-sugerido2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}


.titulo-e-descricao-sugerido3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

h3 {
    font-size: 14px;
    font-weight: 700;
}

p {
    font-size: 11px;
    font-weight: 300;
}

.descricao{
    font-size: 16px;
}

.visualizacoes{
    font-size: 14px;
}